/configs/platform-*/*.old
/configs/ptxconfig.old
/platform-*
/selected_collectionconfig
/selected_platformconfig
/selected_ptxconfig
/selected_toolchain
/p
/src
*.sw*
Documentation/
/local_src/kernel.*
/local_src/barebox.*
*.dto
