# mount /config before systemd-networkd.service as /etc/passwd 
# is a symolic link to /config/etc/passwd

[Unit]
Documentation=man:fstab(5) man:systemd-fstab-generator(8)
SourcePath=/etc/fstab
Before=local-fs.target
Before=systemd-networkd.service systemd-resolved.service
Requires=systemd-fsck@dev-mmcblk2p6.service
After=systemd-fsck@dev-mmcblk2p6.service
After=blockdev@dev-mmcblk2p6.target

[Mount]
What=/dev/mmcblk2p6
Where=/config
Type=ext4
Options=data=journal,noatime,nodev,x-initrd.mount
