image factory.ext4 {
	size = 8M
	name = "factory"
	empty = true
	ext4 {
	     label = "factory"
	}
}

image config.ext4 {
	size = 16M
	name = "config"
	ext4 {
	     label = "config"
	}
	mountpoint = "/config"
}

image data1.ext4 {
	size = 64M
	name = "data1"
	empty = true
	ext4 {
	     label = "data1"
	}
}

image data2.ext4 {
	size = 64M
	name = "data2"
	empty = true
	ext4 {
	     label = "data2"
	}
}

image @IMAGE@ {
	size = 600M

	/*
         * barebox state doesn't support real partitions.
         * This just reserves an additional 1M of free-space at the start of
         * the image for the barebox state.
         */
	hdimage {
		align = 2M
		disk-signature = 0x67bac764
	}

	/* reserved for future HAB use */
	partition boot1 {
		partition-type = 0x83
		size = 16M
	}

	/* reserved for future HAB use */
	partition boot2 {
		partition-type = 0x83
		size = 16M
	}

	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 138M
	}

	partition root-B {
		image = root.ext2
		partition-type = 0x83
		size = 138M
	}

	partition config {
		image = "config.ext4"
		partition-type = 0x83
		size = 16M
	}

	partition app1 {
		partition-type = 0x83
		size = 32M
	}

	partition app2 {
		partition-type = 0x83
		size = 32M
	}

	partition data1 {
		image = "data1.ext4"
		partition-type = 0x83
		size = 64M
	}

	partition data2 {
		image = "data2.ext4"
		partition-type = 0x83
		size = 64M
	}

	partition factory {
		image = "factory.ext4"
		partition-type = 0x83
		size = 8M
	}

}
