/*
 * We need empty filesystems for the 'factory','config','data1' and 'data2' partitions.
 * For optimal SPARSE support we need 'holes' in them for the don't care areas.
 */
image factory.ext4 {
	size = 32M
	name = "factory"
	empty = true
	ext4 {
	     /* ensure, all 'don't care' areas are 'holes' in the generated image */
	     use-mke2fs = true
	     extraargs = "-E 'lazy_itable_init=1,lazy_journal_init=1'"
	     label = "factory"
	}
}

image config.ext4 {
	size = 128M
	name = "config"
	ext4 {
	     /* ensure, all 'don't care' areas are 'holes' in the generated image */
	     use-mke2fs = true
	     extraargs = "-E 'lazy_itable_init=1,lazy_journal_init=1'"
	     label = "config"
	}
	mountpoint = "/config"
}

image opt.ext4 {
        size = 128M
        name = "opt"
        ext4 {
             /* ensure, all 'don't care' areas are 'holes' in the generated image */
             use-mke2fs = true
             extraargs = "-E 'lazy_itable_init=1,lazy_journal_init=1'"
             label = "opt"
        }
        mountpoint = "/opt"
}

image data1.ext4 {
	size = 2048M
	name = "data1"
	empty = true
	ext4 {
	     /* ensure, all 'don't care' areas are 'holes' in the generated image */
	     use-mke2fs = true
	     extraargs = "-E 'lazy_itable_init=1,lazy_journal_init=1'"
	     label = "data1"
	}
}

image data2.ext4 {
	size = 2048M
	name = "data2"
	empty = true
	ext4 {
	     /* ensure, all 'don't care' areas are 'holes' in the generated image */
	     use-mke2fs = true
	     extraargs = "-E 'lazy_itable_init=1,lazy_journal_init=1'"
	     label = "data2"
	}
}

image @IMAGE@ {
	size = 7400M

	/*
         * barebox state doesn't support real partitions.
         * This just reserves an additional 1M of free-space at the start of
         * the image for the barebox state.
         */
	hdimage {
		align = 2M
		disk-signature = 0x67bac764
	}

	/* reserved for future HAB use */
	partition boot1 {
		partition-type = 0x83
		size = 16M
	}

	/* reserved for future HAB use */
	partition boot2 {
		partition-type = 0x83
		size = 16M
	}

	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 1024M
	}

	partition root-B {
		image = root.ext2
		partition-type = 0x83
		size = 1024M
	}

	partition config {
		image = "config.ext4"
		partition-type = 0x83
		size = 128M
	}

	partition opt {
		image = "opt.ext4"
		partition-type = 0x83
		size = 512M
	}

	partition app2 {
		partition-type = 0x83
		size = 512M
	}

	partition data1 {
		image = "data1.ext4"
		partition-type = 0x83
		size = 2048M
	}

	partition data2 {
		image = "data2.ext4"
		partition-type = 0x83
		size = 2048M
	}

	partition factory {
		image = "factory.ext4"
		partition-type = 0x83
		size = 32M
	}

}
