image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0x67bac764
	}

	partition state {
		partition-type = 0x0
		size = 1M
	}

	partition boot1 {
		partition-type = 0x83
		size = 16M
	}

	partition boot2 {
		partition-type = 0x83
		size = 16M
	}

	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 96M
	}

	partition root-B {
		image = root.ext2
		partition-type = 0x83
		size = 96M
	}

	partition data {
		partition-type = 0x83
		size = 16M
	}

	partition factory {
		partition-type = 0x83
		size = 16M
	}
}
