image @IMAGE@ {
	hdimage {
		align = 1M
		disk-signature = 0x67bac764
	}

	partition barebox {
		in-partition-table = false
		image = "barebox-iotmaxx-imx7d-gateway.img"
		size = 2M
	}

	partition root-A {
		image = root.ext2
		partition-type = 0x83
		size = 96M
	}

	partition root-B {
		image = root.ext2
		partition-type = 0x83
		size = 96M
	}

	partition data {
		partition-type = 0x83
		size = 16M
	}
}
